@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #1ec5d8;
  --dark: #131a26;
  --light: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--light);
  color: rgb(var(--background-end-rgb));
  
  /*
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  */
}

/* calculator code */

.button {
  color: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  color: black;
}

.navbar {
  z-index: 1;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator {
  text-align: center;
  width: 100%;
  max-width: 400px;
  background-color: var(--primary);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.display span {
  font-size: 14px;
  color: #888;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9s;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}
input {
  color: rgb(0, 0, 0);
}

.centerHeader {
  text-align: center;
  size: 50px;
  font-size: 30px;
}

.center {
  text-align: center;
}

.watches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  max-width: 1400px;
}

/*
.row::after {
  content: "";
  clear: both;
  display: table;
}
*/

.column {
  float: left;
  padding: 40px;
}

.column-list {
  display: flex;
  justify-content: center;
  float: down;
  padding: 20px;
}

.watches-background {
  background-color: lightblue;
  width: 200px;
  height: 400px;
}

/* watches code */

/* unhide button and icon on hover */

.overlay {
  position: absolute;
  z-index: 1;
}

.overlay .button {
  display: none;
  position: absolute;
  transform: translate(100%, 0%);
  text-align: center;
}

.watches-background:hover .overlay .button {
  display: block;
}

.overlay .favicon {
  height: 30px;
  display: none;
  cursor: pointer;
  right: 0;
  z-index: 1;
}
.watches-background:hover .overlay .favicon {
  display: block;
}

/* favourite icon img size */

.overlayImg {
  z-index: 2;
}

/* viewWatch code */

.generalDropdown {
  display: none;
}

.strapDropdown {
  display: none;
}

.movementDropdown {
  display: none;
}

.dropDownStyle {
  cursor: pointer;
  display: flex;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.dropDownStyleCat {
  margin: auto;
}

.displayWatch {
  height: 40%;
  width: 40%;
  float: left;
  margin-top: 30px;
}

.displayWatchInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
}

.goTobasket-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.goTobasket {
  display: grid;
  width: 30%;
  height: 30%;
  background-color: lightblue;
  position: absolute;
}

.goTobasket button {
  background-color: paleturquoise;
  height: 30%;
  width: 30%;
  padding: 0;
  margin: auto;
  text-align: center;
}

.goTobasket p {
  text-align: center;
}

.goTobasket p:first-child {
  margin-top: auto;
}

.imageSlide {
  display: flow;
  width: 200px;
  /* background-color: #13204b; */
  margin-top: 30px;
  margin-left: 50px;
}

.imageSlide img {
  margin-top: 0px;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.imageSlide img:first-child {
  margin-top: 10px;
}

.imageSlideAndWatchContainer {
  display: flex;
}

/* basket page */

.item1 {
  grid-area: watches;
}

.item2 {
  grid-area: text1;
}
.bin {
  grid-area: bin;
}

.item3 {
  grid-area: footer;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 38% 4% 33%;
  grid-template-areas:
    "watches text1 bin footer"
    "watches text1 bin ..."
    "watches text1 bin ...";
  /* background-color: #2196f3; */
  padding: 20px 0;
  padding-left: 0;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.watchPic {
  grid-area: watchPic;
}

.input {
  grid-area: input;
  margin: auto 0;
}

.split-grid-container {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas:
    "watchPic input"
    "watchPic input"
    "watchPic input";
  gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
  padding-left: 0;
}

.split-grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.login-right-content input, .login-right-content button{
  width: 100%;
  text-align: center;
  margin: 25px 0;
}

.login-right-content button{
  background-color: white;
  color: black;
  padding: 0;
}

.login-right-content-p {
  height: 21px;
}

.signup-left-content p {
  font-size: 15px;
  color: red;
}

.signup-left-content input, .signup-left-content button {
  margin-bottom: 0;
  margin-top: 0;
}

.successful-container {
  display: flex;
  height: 600px;
  width: 300px;
  background-color: #888;
  margin: auto;
  position: relative;
  align-self: center;
}
.successful-parent-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.successful-child-container {
  height: 600px;
  width: 600px;
  background-color: #13204b;
  margin: auto;
  position: relative;
  color: white;
  padding-top: 100px;
}

.successful-child-container p, .successful-child-container h1 , .successful-child-container u {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.successful-child-container h1 {
  font-size: 35px;
}

.successful-child-container button {
  margin-left: 240px;
  margin-top: 50px;
  background-color: #1ec5d8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: center;
}

.dropdown-content-basket-page {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.dropdown-content button .dropdown-content-basket-page button{
  color: black;
}

.dropdown:hover .dropdown-content  {
  display: block;
}

.dropdown:hover .dropdown-content-basket-page  {
  display: block;
}

.admin-panel-container {
  height: 100%;
  background-color: #13204b;
}

.admin-panel-container button{
  padding-top: 50px;
}

.sidebar {
  grid-area: sidebar;
}

.item1 {
  grid-area: text1;
}

.admin-panel-grid-container {
  display: grid;
  height: 80vh;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "sidebar text1"
    "sidebar text1"
    "sidebar text1";
  gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
  padding-left: 0;
}

.admin-panel-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.admin-panel-details {
  height: 100%;
  background-color: #333;  
  padding-bottom: 10px;
}

.admin-panel-details u {
  color: white;  
  margin-top: 10px;
}

.admin-panel-details h1 {
  padding-top: 30px;
}

.admin-panel-details input {
  margin: 50px auto;
  text-align: center;
  width: 700px;
  padding: 10px;
  display: block;
}

.admin-panel-details button {
  margin: 50px auto;
  text-align: center;
  width: 700px;
  padding: 10px;
  background-color: #13204b;
  border-radius: 4px;
  display: block;
}

.discount-container {
  display: flex;
  margin: 0;
  margin: 10px;
  justify-content: space-evenly;  
}

table {
  margin: auto;
}

td, th{
  color: white;
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: center;
  height: 30px;
}

tr {
  height: 30px;
}

.items {
  grid-area: items;
}

.payment {
  grid-area: payment;
  display: flex;
  align-items: center;
}

.payment-container {
  height: auto;
  padding: 10px;
  width: 60%;
  background-color: lightblue;
  margin: 50px auto;
}

.payment-container-input {
  align-content: center;
}

.payment-container-input input {
  margin: 10px 0;
  text-align: center;
}

.order-summary-container {
  height: auto;
  width: 80%;
  background-color: lightblue;
  margin: 50px auto; 
}

.payment-container-items {
  position: relative;
  padding: 10px 70px;
  background-color: lightblue;
  margin: 0px auto;
}

.checkout-grid-container {
  display: grid;
  height: 80vh;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "payment items"
    "payment items"
    "payment items";
}

.checkout-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.watch {
  grid-area: watch;
}

.watchName {
  grid-area: watchName;
}

.paymentDetails {
  grid-area: paymentDetails;
}

.price {
  grid-area: price;
  /* background-color: rgba(255, 255, 255, 0.8); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.order-summary-grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "watch watchName"
    "price price"
    "paymentDetails paymentDetails";
  /* background-color: #2196f3; */
}

.order-summary-grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 5px 0;
  font-size: 24px;
}

/* order summary */


.order-summary-container {
  height: auto;
  padding: 20px;
  width: auto;
  background-color: lightblue;
  margin: 50px auto;
}

.order-summary-container-input {
  align-content: center;
}

.order-summary-container-input input {
  text-align: center;
}

.order-summary-container-input p {
  font-size: 16px;
  color: red;
}

