@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #1ec5d8;
  --dark: #131a26;
  --light: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--light);
  color: rgb(var(--background-end-rgb));
  
  /*
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  */
}

/* calculator code */

.button {
  color: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  color: black;
}

.navbar {
  z-index: 1;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator {
  text-align: center;
  width: 100%;
  max-width: 400px;
  background-color: var(--primary);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.display span {
  font-size: 14px;
  color: #888;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9s;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}
input {
  color: rgb(0, 0, 0);
}

.centerHeader {
  text-align: center;
  size: 50px;
  font-size: 30px;
}

.center {
  text-align: center;
}

.watches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/*
.row::after {
  content: "";
  clear: both;
  display: table;
}
*/

.column {
  float: left;
  padding: 40px;
}

.column-list {
  display: flex;
  justify-content: center;
  float: down;
  padding: 20px;
}

.watches-background {
  background-color: lightblue;
  width: 200px;
  height: 400px;
}

/* watches code */

/* unhide button and icon on hover */

.overlay .button {
  display: none;
  position: absolute;
  transform: translate(100%, 0%);
  text-align: center;
}

.watches-background:hover .overlay .button {
  display: block;
}

.overlay .favicon {
  float: right;
  height: 30px;
  display: none;
  cursor: pointer;
}
.watches-background:hover .overlay .favicon {
  display: block;
}

/* favourite icon img size */

.overlayImg {
  z-index: 2;
}

/* viewWatch code */

.displayWatch {
  height: 400px;
  width: 400px;
  float: left;
}

/* basket page */

.item1 {
  grid-area: watches;
}

.item2 {
  grid-area: text1;
}

.item3 {
  grid-area: footer;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
    "watches text1 footer"
    "watches text1 ..."
    "watches text1 ...";
  gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
  padding-left: 0;
  padding-right: 7px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.split-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "watches text1"
    "watches text1"
    "watches text1";
  gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
  padding-left: 0;
}

.split-grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.login-right-content input, .login-right-content button{
  width: 100%;
  text-align: center;
  margin: 25px 0;
}

.login-right-content input:first-child{
  margin-top: 100px;
}

.login-right-content button{
  background-color: white;
  color: black;
  padding: 0;
}

.login-right-content-p {
  height: 21px;
}

.signup-left-content p {
  font-size: 15px;
  color: red;
}

.signup-left-content input, .signup-left-content button {
  margin-bottom: 0;
  margin-top: 0;
}